extends loggedInLayout

block links
  link(rel='stylesheet', href='/css/dashboard.css')

block content
  h1 Welcome, #{username}!
  br
  h3 Add a zipcode to your tracked locations:
  input#newZip(type="text", required) 
  input#submitNew.btn.btn-info(type="submit")
  
  h1 Weather for your tracked locations:
  br
  div
    table.table.table-hover
        thead
          tr: th Location
              th Observation Time
              th Current Temperature
              th Description
        tbody
          each city in cities
            tr.rows
              td.searchable #{city.name}
              td  #{city.time}
              td #{city.temperature}
              td #{city.weather}
block scripts
  script(src="/js/dashboard.js")
